/.mypy_cache
/build
/dist
/import pandas as pd.py
/import tkinter.py
/import_random.py
/import_random.spec
/index.js
/keywords.csv
/keywords.xlsx
/keywords2.xlsx
/ldy_import_random.py
/ldy_import_random.spec
/sentence_generator.py
/sentence_generator.spec
/test_excel.xlsx
/__pycache__
/최종소스코드.txt